:root {
    --color-white: #fff;
    --color-text: #333;
    --color-text-weak: #767676;
    --color-background: #f0f0f0;
    --color-primary: #00836b;
    --color-accent: #2c9a7a;
    --color-disabled: #e5e5e5;
    --z-floating: 10;
}

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 14px / 1.5 sans-serif;
    width: 500px;
    background-color: var(--color-background);
    color: var(--color-text);
}

/* === Global Header === */
.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: var(--z-floating);
    padding: 8px 16px;
    background-color: var(--color-accent);
    color: var(--color-white);
}

.header__title {
    font-weight: normal;
    font-size: 14px;
}

/* === Forms === */
.form {
    display: grid;
    gap: 20px;
    padding-block-start: 20px;
}

.form__fallback {
    height: 320px;
}

.form__section {
    display: grid;
    gap: 8px;
    padding-inline: 16px;
}

.form__heading {
    font-size: 14px;

}

.form__footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: var(--z-floating);
    background: var(--color-white);
    padding: 8px 24px;
}

.form__submit {
    display: grid;
    place-items: center;
    width: 100%;
    height: 32px;
    padding-inline: 16px;
    background: var(--color-accent);
    border: 2px solid var(--color-accent);
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-white);
    cursor: pointer;

    &:hover {
        background-color: var(--color-white);
        color: var(--color-accent);
    }

    &:disabled {
        background: var(--color-disabled);
        border-color: var(--color-disabled);
        color: var(--color-text-weak);
        cursor: not-allowed;
    }
}

/* === Form Fields === */
.field {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding-inline: 8px;
}

.field__label {
    cursor: pointer;
}

.field__checkbox {
    position: relative;
    display: grid;
    place-items: center;
    width: 16px;
    height: 16px;
    appearance: none;
    border: solid 2px #bbb;
    background-color: var(--color-white);
    border-radius: 2px;
    cursor: pointer;
    outline: 0;

    &:checked {
        border: 0;
        background-color: var(--color-primary);
    }

    &:checked:focus {
        box-shadow: 0 0 4px var(--color-primary);
    }

    &:checked::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -4px;
        display: block;
        width: 12px;
        height: 8px;
        border-bottom: 3px solid var(--color-white);
        border-left: 3px solid var(--color-white);
        transform: translate(50%, 50%) rotate(-45deg);
    }
}

.field__label:hover ~ .field__checkbox,
.field__checkbox:focus {
    border-color: var(--color-primary);

    &:checked {
        box-shadow: 0 0 4px var(--color-primary);
    }
}