@import "@/assets/props.css";

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font: 14px / 1.5 sans-serif;
	width: 500px;
	background-color: var(--powerups-color-background);
	color: var(--powerups-color-text);
}
