@import "@/assets/props.css";

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: var(--powerups-z-floating);
	padding: 8px 16px;
	background-color: var(--powerups-color-accent);
	color: var(--powerups-color-white);
}

.title {
	font-weight: normal;
	font-size: 14px;
}

.fallback {
	height: 320px;
}

.container {
	padding-block: 32px 64px;
}
