@import "@/assets/props.css";

/* === Forms === */
.form {
	display: grid;
	gap: 8px;
	padding-block-start: 20px;
}

.form__section {
	width: 100%;
	padding-inline: 8px;
}

.form__fields {
	display: grid;
	gap: 8px;
}

.form__heading {
	font-size: 14px;
}

.form__footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: var(--powerups-z-floating);
	background: var(--powerups-color-white);
	padding: 8px 24px;
}

.form__submit {
	display: grid;
	place-items: center;
	width: 100%;
	height: 32px;
	padding-inline: 16px;
	background: var(--powerups-color-primary);
	border: 2px solid var(--powerups-color-primary);
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	color: var(--powerups-color-white);
	cursor: pointer;

	&:hover {
		background-color: var(--powerups-color-white);
		color: var(--powerups-color-primary);
	}

	&:disabled {
		background: var(--powerups-color-disabled);
		border-color: var(--powerups-color-disabled);
		color: var(--powerups-color-text-weak);
		cursor: not-allowed;
	}
}

/* === Form Fields === */
.field {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	gap: 8px;
	padding-inline: 8px;
}

.field__label {
	cursor: pointer;
    white-space: pre-line;
}

.field__checkbox {
	position: relative;
	display: grid;
	place-items: center;
	width: 16px;
	height: 16px;
	flex-shrink: 0;
	appearance: none;
	border: solid 2px #bbb;
	background-color: var(--powerups-color-white);
	border-radius: 2px;
	cursor: pointer;
	outline: 0;

	&:checked {
		border: 0;
		background-color: var(--powerups-color-primary);
	}

	&:checked:focus {
		box-shadow: 0 0 4px var(--powerups-color-primary);
	}

	&:checked::before {
		content: "";
		position: absolute;
		top: -2px;
		left: -4px;
		display: block;
		width: 12px;
		height: 8px;
		border-bottom: 3px solid var(--powerups-color-white);
		border-left: 3px solid var(--powerups-color-white);
		transform: translate(50%, 50%) rotate(-45deg);
	}
}

.field__label:hover ~ .field__checkbox,
.field__checkbox:focus {
	border-color: var(--powerups-color-primary);

	&:checked {
		box-shadow: 0 0 4px var(--powerups-color-primary);
	}
}
