:root {
	--powerups-color-white: #fff;
	--powerups-color-text: #333;
	--powerups-color-text-weak: #767676;
	--powerups-color-background: #f0f0f0;
	--powerups-color-primary: #00836b;
	--powerups-color-accent: #43ce9f;
	--powerups-color-badge: #e07b9a;
	--powerups-color-disabled: #e5e5e5;
	--powerups-color-border: #c2c2c2;
	--powerups-color-hover: #fcfade;
	--powerups-z-floating: 10;
	--powerups-z-select: 500;
}
