<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>popup</title>
    <link type="text/css" href="popup.css" rel="stylesheet"></link>
    <script type="text/javascript" src="../libs/jquery.js"></script>
    <script type="text/javascript" src="../libs/vue.js"></script>
    <script type="text/javascript" src="popup.js"></script>
</head>

<body>
  <header>
    <h1>Backlog Power Ups</h1>
  </header>
  <div id="app">
      <section v-for="item in items">
          <label>
            <input type="checkbox" @change="change(item)" v-model="item.enabled"/>
            <span>{{ item.text }}</span>
          </label>
      </section>
  </div>
  <footer>
    <small>© 2018 backlog (Backlog Power Ups）</small>
  </footer>
</body>

</html>
